/* Center the input box and the text */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-key {
    justify-content: center;
    display: flex;
    align-items: center;
}
